apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: dev
spec:
  selector:
    app: catalog-service
  ports:
    - protocol: TCP
      port: 7070
      targetPort: 7070
      nodePort: 30070
  type: NodePort
  