services:
  catalog-db:
    image: postgres:15.13
    container_name: catalog-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=stroy1click
    ports:
      - "5432:5432"
    networks:
      - stroy1click
  user-db:
    image: postgres:15.13
    container_name: user-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=stroy1click
    ports:
      - "5433:5432"
    networks:
      - stroy1click
  order-db:
    image: postgres:15.13
    container_name: order-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=stroy1click
    ports:
      - "5434:5432"
    networks:
      - stroy1click
  attribute-db:
    image: postgres:15.13
    container_name: attribute-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=stroy1click
    ports:
      - "5435:5432"
    networks:
      - stroy1click
  confirmation-code-db:
    image: postgres:15.13
    container_name: confirmation-code-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=stroy1click
    ports:
      - "5436:5432"
    networks:
      - stroy1click
  auth-db:
    image: postgres:15.13
    container_name: auth-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=stroy1click
    ports:
      - "5437:5432"
    networks:
      - stroy1click
  search-db:
    image: postgres:15.13
    container_name: search-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=stroy1click
    ports:
      - "5438:5432"
    networks:
      - stroy1click
  redis:
    image: redis:6.2
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - stroy1click
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.133.0
    container_name: otel-collector
    command: ["--config=/etc/otel/collector-config.yml"]
    volumes:
      - ./docker-volume/collector-config.yaml:/etc/otel/collector-config.yml
    ports:
      - "4317:4317"
    networks:
      stroy1click:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    networks:
      - stroy1click
  tempo:
    image: grafana/tempo:2.8.2
    container_name: tempo
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./docker-volume/tempo.yaml:/etc/tempo.yaml
    depends_on:
      - otel-collector
    networks:
      stroy1click:
  prometheus:
    image: prom/prometheus:v3.5.0
    container_name: prometheus
    volumes:
      - ./docker-volume/prometheus.yaml:/etc/prometheus/prometheus.yaml
    command:
      - --config.file=/etc/prometheus/prometheus.yaml
      - --web.listen-address=:9095
    ports:
      - "9095:9095"
    depends_on:
      - otel-collector
    networks:
      stroy1click:
  grafana:
    image: grafana/grafana:12.0
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./docker-volume/grafana.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - elasticsearch
      - prometheus
      - tempo
    networks:
      stroy1click:
  notification-service:
    image: stroy1click/notification:0.0.1-SNAPSHOT
    container_name: notification-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
      REDISSON_HOST: redis
      REDISSON_PORT: 6379

      OTEL_SERVICE_NAME: notification-service
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: always_on
      OTEL_METRICS_EXPORTER: otlp
      OTEL_METRICS_EXPORT_INTERVAL: 5000
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    ports:
      - "2020:2020"
    networks:
      stroy1click:
    depends_on:
      - redis
      - otel-collector
  order-service:
    image: stroy1click/order:0.0.1-SNAPSHOT
    container_name: order-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
      REDISSON_HOST: redis
      REDISSON_PORT: 6379

      SPRING_DATASOURCE_URL: jdbc:postgresql://order-db:5432/stroy1click
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_FLYWAY_URL: jdbc:postgresql://order-db:5432/stroy1click
      SPRING_FLYWAY_USER: postgres
      SPRING_FLYWAY_PASSWORD: password
      SPRING_FLYWAY_BASELINE_ON_MIGRATE: true

      URL_NOTIFICATION: http://notification-service:2020/api/v1/notifications

      OTEL_SERVICE_NAME: order-service
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: always_on
      OTEL_METRICS_EXPORTER: otlp
      OTEL_METRICS_EXPORT_INTERVAL: 5000
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    ports:
      - "1010:1010"
    networks:
      stroy1click:
    depends_on:
      - order-db
      - redis
      - otel-collector
  auth-service:
    image: stroy1click/auth:0.0.1-SNAPSHOT
    container_name: auth-service
    environment:
      SPRING_PROFILES_ACTIVE: prod

      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/stroy1click
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_FLYWAY_URL: jdbc:postgresql://auth-db:5432/stroy1click
      SPRING_FLYWAY_USER: postgres
      SPRING_FLYWAY_PASSWORD: password
      SPRING_FLYWAY_BASELINE_ON_MIGRATE: true

      URL_USER: http://user-service:8080/api/v1/users

      OTEL_SERVICE_NAME: auth-service
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: always_on
      OTEL_METRICS_EXPORTER: otlp
      OTEL_METRICS_EXPORT_INTERVAL: 5000
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    ports:
      - "9090:9090"
    networks:
      stroy1click:
    depends_on:
      - auth-db
      - redis
      - otel-collector
  catalog-service:
    image: stroy1click/catalog:0.0.1-SNAPSHOT
    container_name: catalog-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
      REDISSON_HOST: redis
      REDISSON_PORT: 6379

      SPRING_DATASOURCE_URL: jdbc:postgresql://catalog-db:5432/stroy1click
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_FLYWAY_URL: jdbc:postgresql://catalog-db:5432/stroy1click
      SPRING_FLYWAY_USER: postgres
      SPRING_FLYWAY_PASSWORD: password
      SPRING_FLYWAY_BASELINE_ON_MIGRATE: true

      URL_SEARCH: http://search-service:4045/sync/events

      OTEL_SERVICE_NAME: catalog-service
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: always_on
      OTEL_METRICS_EXPORTER: otlp
      OTEL_METRICS_EXPORT_INTERVAL: 5000
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    ports:
      - "7070:7070"
    networks:
      stroy1click:
    depends_on:
      - catalog-db
      - redis
      - otel-collector
  attribute-service:
    image: stroy1click/attribute:0.0.1-SNAPSHOT
    container_name: attribute-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
      REDISSON_HOST: redis
      REDISSON_PORT: 6379

      SPRING_DATASOURCE_URL: jdbc:postgresql://attribute-db:5432/stroy1click
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_FLYWAY_URL: jdbc:postgresql://attribute-db:5432/stroy1click
      SPRING_FLYWAY_USER: postgres
      SPRING_FLYWAY_PASSWORD: password
      SPRING_FLYWAY_BASELINE_ON_MIGRATE: true


      OTEL_SERVICE_NAME: attribute-service
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: always_on
      OTEL_METRICS_EXPORTER: otlp
      OTEL_METRICS_EXPORT_INTERVAL: 5000
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    ports:
      - "4040:4040"
    networks:
      stroy1click:
    depends_on:
      - attribute-db
      - redis
      - otel-collector
  user-service:
    image: stroy1click/user:0.0.1-SNAPSHOT
    container_name: user-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
      REDISSON_HOST: redis
      REDISSON_PORT: 6379

      SPRING_DATASOURCE_URL: jdbc:postgresql://user-db:5432/stroy1click
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_FLYWAY_URL: jdbc:postgresql://user-db:5432/stroy1click
      SPRING_FLYWAY_USER: postgres
      SPRING_FLYWAY_PASSWORD: password
      SPRING_FLYWAY_BASELINE_ON_MIGRATE: true

      OTEL_SERVICE_NAME: user-service
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: always_on
      OTEL_METRICS_EXPORTER: otlp
      OTEL_METRICS_EXPORT_INTERVAL: 5000
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    ports:
      - "8080:8080"
    networks:
      stroy1click:
    depends_on:
      - user-db
      - redis
      - otel-collector
  confirmation-code-service:
    image: stroy1click/confirmation:0.0.1-SNAPSHOT
    container_name: confirmation-code-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
      REDISSON_HOST: redis
      REDISSON_PORT: 6379

      SPRING_DATASOURCE_URL: jdbc:postgresql://confirmation-code-db:5432/stroy1click
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_FLYWAY_URL: jdbc:postgresql://confirmation-code-db:5432/stroy1click
      SPRING_FLYWAY_USER: postgres
      SPRING_FLYWAY_PASSWORD: password
      SPRING_FLYWAY_BASELINE_ON_MIGRATE: true

      URL_USER: http://user-service:8080/api/v1/users
      URL_AUTH: http://auth-service:9090/api/v1/auth
      URL_EMAIL: http://email-service:5050/api/v1/emails

      OTEL_SERVICE_NAME: confirmation-code-service
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: always_on
      OTEL_METRICS_EXPORTER: otlp
      OTEL_METRICS_EXPORT_INTERVAL: 5000
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    ports:
      - "6060:6060"
    networks:
      stroy1click:
    depends_on:
      - confirmation-code-db
      - redis
      - otel-collector
  email-service:
    image: stroy1click/email:0.0.1-SNAPSHOT
    container_name: email-service
    environment:
      SPRING_PROFILES_ACTIVE: prod

      OTEL_SERVICE_NAME: email-service
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: always_on
      OTEL_METRICS_EXPORTER: otlp
      OTEL_METRICS_EXPORT_INTERVAL: 5000
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    ports:
      - "5050:5050"
    networks:
      stroy1click:
    depends_on:
      - otel-collector
  web-service:
    image: stroy1click/web:0.0.1-SNAPSHOT
    container_name: web-service
    environment:
      SPRING_PROFILES_ACTIVE: prod

      URL_USER: http://user-service:8080/api/v1/users
      URL_AUTH: http://auth-service:9090/api/v1/auth
      URL_CONFIRMATIONCODE: http://confirmation-code-service:6060/api/v1/confirmation-codes

      URL_CATEGORY: http://catalog-service:7070/api/v1/categories
      URL_SUBCATEGORY: http://catalog-service:7070/api/v1/subcategories
      URL_PRODUCTTYPE: http://catalog-service:7070/api/v1/product-types
      URL_PRODUCT: http://catalog-service:7070/api/v1/products
      URL_STORAGE: http://catalog-service:7070/api/v1/storage

      URL_ATTRIBUTE: http://attribute-service:4040/api/v1/attributes
      URL_ATTRIBUTEOPTION: http://attribute-service:4040/api/v1/attribute-options
      URL_PRODUCTATTRIBUTEASSIGNMENT: http://attribute-service:4040/api/v1/product-attribute-assignments

      URL_ORDER: http://order-service:1010/api/v1/orders
      URL_NOTIFICATION: http://notification-service:2020/api/v1/notifications

      URL_SEARCH: http://search-service:4045/api/v1/search

      OTEL_SERVICE_NAME: web-service
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: always_on
      OTEL_METRICS_EXPORTER: otlp
      OTEL_METRICS_EXPORT_INTERVAL: 5000
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    ports:
      - "3035:3035"
    networks:
      stroy1click:
    depends_on:
      - otel-collector
      - product-service
      - attribute-service
      - auth-service
      - confirmation-code-service
      - notification-service
      - user-service
      - email-service
      - order-service
  search-service:
    image: stroy1click/search:0.0.1-SNAPSHOT
    container_name: search-service
    ports:
      - "4045:4045"
    networks:
      stroy1click:
    depends_on:
      - elasticsearch
      - search-db
networks:
  stroy1click: